#To-Do-List-Right-Side {
    
    float: right;
    flex-direction: column;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    overflow: right;
    background-color: cadetblue;
    z-index: 1;
    text-emphasis: bold;
    font-family: Arial, Helvetica, sans-serif;

} 

#Add-To-Do-List-Left-Side {

    width: 250px;
    height: relative;
    margin-left: 25px;
    padding-bottom: 20px;
    float: left;
    display: flex;
    flex-direction: column;
    overflow: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: black; 
    background-color: rgb(55, 162, 174);
    z-index: 1;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#Completed-Tasks {
    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    z-index: 1;

}

body {

    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    z-index: 1;
}

#AddToDo {

    width: 90%;
    height: 150px;
    padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    word-wrap: break-word;
    white-space: pre-wrap;
    resize: none;
    z-index: 1;

}

#AddToDoDate {


    width: 90%;
    padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    word-wrap: break-word;
    z-index: 1;

}

#AddToDoNotes {

    width: 90%;
    height: 275px;
    padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    word-wrap: break-word;
    resize: none;
    z-index: 1;

}

#format-input-text {

    font-family: Arial, Helvetica, sans-serif;
    text-transform: full-width;
    z-index: 1;

}

#spotify-player {

    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
    z-index: 1;

}

#vanta-canvas {

    z-index: -1;
    height: 100vh;
    width: 100vh;
    background-size: cover;
 
}

#To-Do-List-Right-Side-Container {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 32pt;
    color: white;
}

/* #Completed-Tasks-Container {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 32pt;
    color: white;

} */


