#To-Do-List-Right-Side {


    float: right;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    overflow: right;
    background-color: cadetblue;
    z-index: 1;
    text-emphasis: bold;
    font-family: Arial, Helvetica, sans-serif;

} 

#To-Do-List-Right-Side-Container {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}

#Add-To-Do-List-Left-Side {

    width: 300px;
    height: relative;
    margin-left: 25px;
    padding-bottom: 20px;
    float: left;
    display: flex;
    flex-direction: column;
    overflow: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: black; 
    background-color: rgb(55, 162, 174);
    z-index: 1;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#Completed-Tasks {

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    z-index: 1;

}

body {

    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    z-index: 1;
}

#AddToDo {

    width: 90%;
    height: 125px;
    padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    word-wrap: normal;
    white-space: pre-wrap;
    resize: none;
    z-index: 1;

}

#AddToDoDate {


    width: 90%;
    padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    word-wrap: normal;
    z-index: 1;

}

#AddToDoNotes {

    width: 90%;
    height: 225px;
    padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    word-wrap: normal;
    resize: none;
    z-index: 1;

}

#format-input-text {

    font-family: Arial, Helvetica, sans-serif;
    text-transform: full-width;
    z-index: 1;

}

#spotify-player {

    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
    z-index: 1;

}

#vanta-canvas {

    z-index: -1;
    height: 100vh;
    width: 100vh;
    background-size: cover;

}

#To-Do-List-Right-Side-Container {

    display: flex;
    flex-direction: row;
    align-self: auto;
    overflow-wrap: normal;
    gap: 8px;
    background-color: transparent;
    position: absolute;
    height: 78%;
    width: 84%;
    margin-left: 15%;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    color: white;
    z-index: 1;

}

#button {

    display: inline-block;
    border-radius: 8px;
    border: none;
    text-align: center;
    font-size: 14px;
    padding: 2px;
    width: 200px;
    cursor: pointer;
    margin: 5px;

}


#new-notes {

    background-color: rgb(55, 162, 174);
    padding: 5px;
    width: 385px;
    height: 225px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;

}

#btns {

    background-color: transparent;
    border: 0;
    position: relative;
    right:   -175px ;
    bottom:   -175px;


}


